name: Argus CI Gatekeeper

on:
    push:
        branches: [ main, "feat/*" ]
    pull_request :
        branches: [ main ]

jobs:
    # job 1: Pyhton quality check
    python-quality:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./argus_brain
        steps:
            - uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              
            - name: Set up Python 3.12
              run: uv python install 3.12

            - name: Install Dependencies
              run: uv sync

            - name: Run Ruff (Linting)
              run: uv run ruff check .

            - name: Run Ruff (Formatting)
              run: uv run ruff format --check .
    
    # job 2: c++ Build Check
    cpp-build:
        runs-on: ubuntu-24.04
        defaults:
            run:
                working-directory: ./argus_engine
        env:
            CC: gcc-14
            CXX: g++-14
        steps:
            - uses: actions/checkout@v4

            - name: Install System Tools & GCC 14
              run: |
                sudo apt-get update 
                sudo apt-get install -y cmake build-essential gcc-14 g++-14

            - name: Install Latest CMake & Conan
              run: pip install conan cmake

            - name: Detect Conan Profile
              run: conan profile detect --force

            - name: Install Dependencies
              run: conan install . --build=missing -s build_type=Release

            - name: Build with CMake
              run: |
                cmake --preset conan-release
                cmake --build --preset conan-release